@media (min-width: 992px) {
    .navbar {
        .navbar-alternate {
            color: black !important;
        }
    }
    .navbar-light {
        .navbar-nav {
            .navbar-alternate {
                color: black !important;
            }

            .register {
                color: white;
            }
        }
    }
}